.en-tete{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.logo{
    width: 40vw;
    height: 20vw;
}

.panier{
    text-decoration: none;
    color: black;
    
    
  
    
}




